<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" lang="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
    <link rel="icon" href="{{ url_for('static', filename='img/logo.ico') }}" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body class="bg-light">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            src="{{ url_for('static', filename='img/logo.png') }}"
            alt="logo"
            width="30"
            height="30"
            class="d-inline-block align-text-top"
          />
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          <ul class="navbar-nav ml-auto">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" id="home" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="record" href="/record">Record</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="saved" href="/saved">Saved</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="profile" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="logout" href="/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" id="login" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="signUp" href="/sign-up">Sign up</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    "success" %}
    <div
      class="alert alert-success alert-dismissable fade show mb-0"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% elif category=="error" %}
    <div
      class="alert alert-danger alert-dismissable fade show mb-0"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% else %}
    <div
      class="alert alert-primary alert-dismissable fade show mb-0"
      role="alert"
    >
      {{ message }}
      <button
        type="button"
        class="close btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}
    <div class="container-fluid p-0">{% block content %} {% endblock %}</div>

    {% block scripts %} {% endblock %}
  </body>
</html>
