{% extends 'base.html' %} {% block title %}Login{% endblock %} {% block content
%}
<div class="container">
  <h1 class="display-4 text-center my-4">Login</h1>

  <div class="form-container w-50 mx-auto">
    <form method="POST">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" />
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
        />
      </div>
      <br />
      <div class="text-center">
        <button type="submit" class="btn btn-primary text">Login</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
