{% extends 'base.html' %} {% block title %}Record{% endblock %} {% block content
%}
<div class="container">
  <h1 class="display-4 text-center my-4">Record</h1>
  <div class="audio-container">
    <audio id="audio-preview" class="w-100 mb-3" controls></audio>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <button id="record-button" class="btn btn-outline-danger mx-2">
      <i class="fas fa-microphone"></i>
    </button>
    <button id="save-button" class="btn btn-outline-success mx-2 disabled">
      <i class="fas fa-save"></i>
    </button>
    <button id="discard-button" class="btn btn-outline-danger mx-2 disabled">
      <i class="fas fa-times"></i>
    </button>
  </div>
  <div class="d-flex justify-content-center align-items-center">
    <div id="recording-indicator" class="m-4">
      <div
        id="recording-spinner"
        class="spinner-grow text-danger invisible"
        role="status"
      >
        <span class="sr-only">Loading...</span>
      </div>
      <div class="recording-timer" role="status">
        <span id="recording-minutes">00</span>:<span id="recording-seconds"
          >00</span
        >
      </div>
    </div>
  </div>

  {% endblock %} {% block scripts %}
  <script src="{{ url_for('static', filename='record.js') }}"></script>
  {% endblock %}
</div>
